# Python cache
*__pycache__

# Credentials
credentials*
*.env

# Environments
*env*

# Exception for environment setup scripts
!create_x2sim_env.sh
!start_x2sim_env.sh

# Logs
*log*
*.o*
*.e*

# Output 
out*

# Jobs
job*

# Data files
*.mp4
*.glb
*.ply
*.png
*.np[zy]

# Container files
*.sif